---
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";
import normalize from "../utils/normalize.js";

const { frontmatter } = Astro.props;
const tagsWithLinks = frontmatter.tags.map((tag) => {
    const tagNormalized = normalize(tag); // Normalizar cada tag
    return {
        tag: tag,
        url: `/tags/${tagNormalized}`,
    };
});
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Escrito por: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <Tags tagsWithLinks={tagsWithLinks} />
    <slot />
</BaseLayout>
